:root {
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 150s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}


@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}


.marquee header {
  display: grid;
  place-items: center;
  width: var(--size);
  fill: var(--color-text);
  background: var(--color-bg-accent);
  aspect-ratio: 16 / 9;
  padding: calc(var(--size) / 10);
  border-radius: 0.5rem;
}


.animate-scroll-x {
  animation: scroll-x var(--duration) linear infinite;
}