:root {
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 10s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
  --color-text: blue; /* Change the color to blue */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: blue; /* Change the color to blue in dark mode as well */
    --color-bg: navy;
    --color-bg-accent: #2626a0;
  }
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

@keyframes scroll-y {
  from {
    transform: translateY(var(--scroll-start));
  }
  to {
    transform: translateY(var(--scroll-end));
  }
}

.mask-image {
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.marquee header {
  display: grid;
  place-items: center;
  width: var(--size);
  fill: var(--color-text);
  background: var(--color-bg-accent);
  aspect-ratio: 16 / 9;
  padding: calc(var(--size) / 10);
  border-radius: 0.5rem;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

.animate-scroll-x {
  animation: scroll-x var(--duration) linear infinite;
}

body {
  --color-text: navy;
  --color-bg-accent: red;
}
