:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
  
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
  
  
    .text-balance {
      text-wrap: balance;
    }
  
  
  
    .fancy-corners {
      position: relative;
      background-color: #fff;
      transform-style: preserve-3d;
    }
  
    .fancy-corners:before {
      content: '';
      position: absolute;
      width: 2em;
      height: 2em;
      border-radius: 50%; /* Make it a circle */
      background-size: 100% 100%;
      background-position: 0 0;
      transform: translateZ(-1px);
      z-index: -1;
      @apply bg-purple;
    }
  
    [data-theme='teal'] .fancy-corners:before {
      @apply bg-[#9AC435];
    }
  
    [data-theme='teal'] .fancy-corners:after {
      content: '';
      position: absolute;
      width: 1.5em; /* Smaller circle */
      height: 1.5em; /* Smaller circle */
      border-radius: 50%; /* Make it a circle */
      background-size: 100% 100%;
      background-position: 0 0;
      transform: translateZ(-1px);
      z-index: -1;
      @apply bg-red; /* Smaller circle color */
      top: -0.8em;
      left: -0.8em;
    }
  
    .fancy-corners--top-left:before {
      top: -2.5em;
      left: -2.5em;
    }
  
    .fancy-corners--large:before {
      width: 5em;
      height: 5em;
    }
  
    .fancy-corners--large:after {
      width: 3em; /* Smaller circle inside large teal circle */
      height: 3em; /* Smaller circle inside large teal circle */
      top: -2.5em;
      left: -2.7em;
    }
  
  
  